hr
{
margin: 0;
}

font,th,td,p
{
font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover
{
text-decoration: underline;
}

.row_helped
{
background-color: #ffffcc;
}

th
{
color: black;
font-size: 11px;
white-space: nowrap;
text-align: center;
background-color: #D9EDF7 !important;
}

thead
{
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

td
{
vertical-align: middle !important;
}

caption
{
font-weight: bold;
background-color: #D9EDF7 !important;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border: 1px solid #DDDDDD;
border-bottom: none;
padding: 5px;
}

.gen						{ font-size : 12px; }
.genmed					{ font-size : 11px; }
.gensmall					{ font-size : 10px; }
a.gen,a.genmed,a.gensmall			{ text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ text-decoration: underline; }

.cattitle
{
font-weight: bold;
font-size: 12px;
letter-spacing: 1px;
color: black;
}

a.cattitle
{
text-decoration: none;
color: black;
}

a.cattitle:hover
{
text-decoration: underline;
}

.forumlink
{
font-size: 12px;
}

a.forumlink
{
text-decoration: none;
}

a.forumlink:hover
{
text-decoration: underline;
color: grey;
}

.name
{
font-size: 11px;
color: #000000;
text-decoration: none;
}

.postdetails		{ font-size : 10px; color : #000000; }

.postbody		{  }
a.postlink:link	{ text-decoration: none; }
a.postlink:visited	{ text-decoration: none; }
a.postlink:hover	{ text-decoration: underline; }

.copyright		{ font-size : 10px; color: #444444; font-family: Verdana, Arial, Helvetica, sans-serif; }
a.copyright		{ text-decoration: none; color : #006699; }
a.copyright:hover	{ text-decoration: underline; color : #DD6900; }

span.badwordhighlight { background-color: #FFFF00; }

.pm { font-size: 11px; text-decoration: none; color: #FF0000; }

.sb1 { background-color: white; }
.sb2 { background-color: #F9F9F9; }

h4,h5
{
text-align: center;
}

.center
{
text-align: center !important;
}

.centered
{
margin: 0 auto;
display: block;
width: 50%;
}

.popover
{
font-weight: normal;
}

.left
{
text-align: left !important;
}

.right
{
text-align: right !important;
}

.middle
{
vertical-align: middle !important;
}

.div-header
{
font-weight: bold;
text-align: center;
padding-top: 4px;
border: 1px solid #DDDDDD;
background-color: rgb(66, 139, 202) !important;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.div-header div
{
min-height: 1px !important;
}

.pagination
{
margin: 0px;
}

.postrow
{
margin-bottom: 2px;
padding: 5px;
border: 1px solid #DDDDDD;
}

.postrow .col-md-2
{
border-right: 1px solid #DDDDDD;
}

#loading
{
position: absolute;
top: 40%;
left: 40%;
margin-top: -50px;
margin-left: -50px;
background: #d6d6d6;
padding:5px;
border: 3px double gray;
}

.signature
{
color: gray;
}

.horizontal-table th
{
text-align: left;
width: 10%;
}

a .glyphicon
{
color: black;
}

.panel-primary .panel-heading a
{
color: white;
}

.config_header
{
background-color: #F5F5F5;
}

label
{
font-weight: normal;
}

textarea
{
width: 100%;
}

/*added by opiszon*/

/*for shoutbox use*/
td.row1, td.row2 {
    background-color: #FEFEF9;
    border-bottom: 1px solid lightgrey;
}

.container {
    background-color: white;
    border: 10px solid white;

}

.row > .col-no-gutter {
    padding-right: 0;
    padding-left: 0;
}

#private-message-count {
    display: none;
}

#private-message-count:not(:empty) {
    display: inline;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    min-width: 20px;
    top: -5px;
    left: 20px;
    padding: 2px 2px;
    height: 20px;
}

.panel-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.panel-row:last-of-type {
    border-bottom: none;
}
