body {
	padding-top: 50px;
}

#menu-nav {
	border-radius: 0px 0px 4px 4px;
}

hr
{
margin: 0;
}

a:hover
{
text-decoration: underline;
}

.row_helped
{
background-color: #ffffcc;
}

th
{
color: black;
white-space: nowrap;
text-align: center;
background-color: #D9EDF7 !important;
}

thead
{
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

td
{
vertical-align: middle !important;
}

caption
{
font-weight: bold;
background-color: #D9EDF7 !important;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border: 1px solid #DDDDDD;
border-bottom: none;
padding: 5px;
}

.cattitle
{
font-weight: bold;
letter-spacing: 1px;
color: black;
}

a.cattitle
{
text-decoration: none;
color: black;
}

a.cattitle:hover
{
text-decoration: underline;
}

a.forumlink
{
text-decoration: none;
}

a.forumlink:hover
{
text-decoration: underline;
color: grey;
}

.copyright		{ font-size : 10px; color: #444444;}
a.copyright		{ text-decoration: none; color : #006699; }
a.copyright:hover	{ text-decoration: underline; color : #DD6900; }

span.badwordhighlight { background-color: #FFFF00; }

.pm {text-decoration: none; color: #FF0000; }

.sb1 { background-color: white; }
.sb2 { background-color: #F9F9F9; }

h4,h5
{
text-align: center;
}

.center
{
text-align: center !important;
}

.popover
{
font-weight: normal;
}

.left
{
text-align: left !important;
}

.right
{
text-align: right !important;
}

.middle
{
vertical-align: middle !important;
}

.div-header
{
font-weight: bold;
text-align: center;
padding-top: 4px;
border: 1px solid #DDDDDD;
background-color: rgb(66, 139, 202) !important;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.div-header div
{
min-height: 1px !important;
}

.pagination
{
margin: 0px;
}

#loading
{
position: absolute;
top: 40%;
left: 40%;
margin-top: -50px;
margin-left: -50px;
background: #d6d6d6;
padding:5px;
border: 3px double gray;
}

.signature {
    color: gray;
}

.signature.breadcrumb {
    margin: 0;
}

.horizontal-table th
{
text-align: left;
width: 10%;
}

.panel-primary .panel-heading a
{
color: white;
}

.config_header
{
background-color: #F5F5F5;
}

label
{
font-weight: normal;
}

textarea
{
width: 100%;
}

/*added by opiszon*/

/*for shoutbox use*/
td.row1, td.row2 {
    background-color: #FEFEF9;
    border-bottom: 1px solid lightgrey;
}


.container {
    background-color: white;
    border: 10px solid white;

}

.row > .col-no-gutter {
    padding-right: 0;
    padding-left: 0;
}

#private-message-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #990000;
}

.post-panel .panel-heading {
    padding: 5px;
}

.panel-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.panel-row:last-of-type {
    border-bottom: none;
}

blockquote {
    background-color: #F2F2E7;
    margin-bottom: 0;
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
  content: '';
}

@media screen and (min-width: 768px) {

    .postdetails {
        border-right-width: 1px;
        border-right-style: solid;
    }


    .postbody {
        border-left-width: 1px;
        border-left-style: solid;
        margin-left: -1px;
    }

}

.postdetails img {
    border-radius: 10px;
}

.popover, .postbody {
    text-overflow: ellipsis;
    overflow: hidden;
}

#gcse-search * {
    box-sizing: content-box;
}
